body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #444;
}

.product-block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.provider-group input[type="file"]{
    display: inline-block;
    width: auto;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 15px;
}

.provider-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    transition: opacity 0.3s ease;
}

.provider-group input[type="text"].visible {
    display: inline-block;
    opacity: 1;
}

.product-group input[type="file"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
}

.product-group input[type="file"]:hover {
    background-color: #0056b3;
}

.product-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    transition: opacity 0.3s ease;
    margin-bottom: 15px;
}

.product-group input[type="text"].visible {
    display: block;
    opacity: 1;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#addBlockBtn {
    background-color: #007bff;
    margin-top: 10px;
}

#addBlockBtn:hover {
    background-color: #0056b3;
}

#submitBtn {
    display: block;
    width: 100%;
    margin-top: 20px;
}



